<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testScripts.TestCase4"/>
      <class name="testScripts.TestCase1"/>
      <class name="testScripts.TestCase2"/>
      <class name="testScripts.TestCase3"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
